@model AddressDto

<div class="map">
    <h2 style="margin-left:0.9em;font-size: 24px;color: #8b8b8b;">Okul Haritası</h2>
    <iframe src="@Model.MapLocation" width="98%" height="400"
            style="border:0px; margin-left:0.9em;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>