
<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("/Views/_LayoutPartial/_HeaderPartial.cshtml")
</head>

<body>
    <!-- header -->
    @await Html.PartialAsync("/Views/_LayoutPartial/_NavbarPartial.cshtml")
    <!-- //header -->

    @RenderBody()

    <!-- footer block -->
    @await Html.PartialAsync("/Views/_LayoutPartial/_FooterPartial.cshtml")
    <!-- //footer block -->


    <!-- Js scripts -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <!-- //move top -->
    <!-- /counter-->
    <script src="~/EduSchool/assets/js/counter.js"></script>
    <!-- //counter-->
    <!-- theme switch js (light and dark)-->
    <script src="~/EduSchool/assets/js/theme-change.js"></script>

    <script src="~/EduSchool/assets/js/bootstrap.min.js"></script>

    <!-- Mainly scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/Admin/js/popper.min.js"></script>

    @await RenderSectionAsync("Scripts", false)

    @await Component.InvokeAsync("NToastNotify")

    <!-- //theme switch js (light and dark)-->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //Js scripts --> 
</body>
</html>
