
<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")
</head>

<body>
    <!-- header -->
    @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")
    <!-- //header -->

    @RenderBody()

    <!-- footer block -->
    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
    <!-- //footer block -->


    <!-- Js scripts -->
    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptsPartial.cshtml")
    <!-- //Js scripts -->

    @await RenderSectionAsync("Scripts", false)

    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
