<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Öğretmen Paneli - @ViewData["Title"]</title>

<link rel="icon" type="image/png" href="~/icons/teacher.png" />

<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

<!-- custom css file link  -->
<link rel="stylesheet" href="~/Student-Teacher/css/style.css">

@* <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet"> *@