<div class="header-main">
	<div class="header-left">
		<div class="logo-name">
			<a href="index.html">
				<h1>Öğretmen</h1>
				<!--<img id="logo" src="" alt="Logo"/>-->
			</a>
		</div>

		<!--search-box-->
		<div class="search-box">
			<form asp-area="Teacher" asp-controller="Home" asp-action="Search" method="GET">
				<input type="text" name="keyword" placeholder="Aranacak İfade..." required="">
				<input type="submit" value="">
			</form>
		</div><!--//end-search-box-->

		<div class="clearfix"> </div>
	</div>
	<div class="header-right">
		<div class="profile_details_left">
			<!--notifications of menu start -->
			<ul class="nofitications-dropdown">
				
				@await Component.InvokeAsync("NavbarTeacherUnreadMessages") @* Okunmamis mesajlar listelenecek *@

				@await Component.InvokeAsync("LastThreeAnnouncement")
			
			</ul>
			<div class="clearfix"> </div>
		</div>
		<!--notification menu end -->
		@await Component.InvokeAsync("LoginProfile")

		<div class="clearfix"> </div>
	</div>
	<div class="clearfix"> </div>
</div>