<div class="sidebar-menu">
	<div class="logo">
		<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
			<span id="logo"></span>
			<!--<img id="logo" src="" alt="Logo"/>-->
		</a>
	</div>
	<div class="menu">
		<ul id="menu">
			<li id="menu-home"><a href="index.html"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
			<li>
				<a href="#"><i class="fa fa-cogs"></i><span>Profil Ayarları</span></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-envelope"></i><span>Mesajlar</span><span class="fa fa-angle-right" style="float: right"></span></a>
				<ul id="menu-academico-sub">
					<li id="menu-academico-avaliacoes"><a href="inbox.html">Mesaj Kutusu</a></li>
					<li id="menu-academico-boletim"><a href="inbox-details.html">Mesaj Oluştur</a></li>
				</ul>
			</li>
			<li><a href="maps.html"><i class="fa fa-bell-o" aria-hidden="true"></i><span>Duyurular</span></a></li>

			<li><a href="#"><i class="fa fa-graduation-cap "></i><span>Öğrenciler</span></a></li>
			
			<li><a href="#"><i class="fa fa-flask"></i><span>Sınıflar</span></a></li>
			
			<li><a href="#"><i class="fa fa-book nav_icon"></i><span>Dersler</span></a></li>
						
			<li><a href="#"><i class="fa fa-home"></i><span>Ana Sayfaya Git</span></a></li>

			<li><a href="#"><i class="fa fa-sign-out"></i><span>Çıkış Yap</span></a></li>
		</ul>
	</div>
</div>
<div class="clearfix"> </div>