<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin Paneli - @ViewData["Title"]</title>

<link rel="icon" type="image/png" href="~/icons/admin.png" />

<link href="~/Admin/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Admin/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="~/Admin/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/Admin/css/animate.css" rel="stylesheet">
<link href="~/Admin/css/style.css" rel="stylesheet">

<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />