
@{
    ViewData["Title"] = "Ana sayfa";
}

<div class="inner-block">
	<!--market updates updates-->

	@await Component.InvokeAsync("DashboardStatisticsFirst")

	<!--market updates end here-->
	<!--mainpage chit-chating-->
	<div class="chit-chat-layer1">
		
		@await Component.InvokeAsync("DashboardLastSixReport")

		@await Component.InvokeAsync("DashboardUserInfo")

		<div class="clearfix"> </div>
	</div>
	<!--main page chit chating end here-->
	<!--main page chart start here-->
	<div class="main-page-charts">
		<div class="main-page-chart-layer1">
	
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--main page chart layer2-->
	<!--climate start here-->
@* 	<div class="climate">
		<div class="col-md-4 climate-grids">
			<div class="climate-grid1">
				<div class="climate-gd1-top">
					<div class="col-md-6 climate-gd1top-left">
						<h4>Aprill 6-wed</h4>
						<h3>12:30<span class="timein-pms">PM</span></h3>
						<p>Humidity:</p>
						<p>Sunset:</p>
						<p>Sunrise:</p>
					</div>
					<div class="col-md-6 climate-gd1top-right">
						<span class="clime-icon">
							<figure class="icons">
								<canvas id="partly-cloudy-day" width="64" height="64">
								</canvas>
							</figure>
							<script>
								var icons = new Skycons({ "color": "#fff" }),
									list = [
										"clear-night", "partly-cloudy-day",
										"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
										"fog"
									],
									i;

								for (i = list.length; i--;)
									icons.set(list[i], list[i]);

								icons.play();
							</script>
						</span>
						<p>88%</p>
						<p>5:40PM</p>
						<p>6:30AM</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="climate-gd1-bottom">
					<div class="col-md-4 cloudy1">
						<h4>Hongkong</h4>
						<figure class="icons">
							<canvas id="sleet" width="58" height="58">
							</canvas>
						</figure>
						<script>
							var icons = new Skycons({ "color": "#fff" }),
								list = [
									"clear-night", "clear-day",
									"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
									"fog"
								],
								i;

							for (i = list.length; i--;)
								icons.set(list[i], list[i]);

							icons.play();
						</script>
						<h3>10c</h3>
					</div>
					<div class="col-md-4 cloudy1">
						<h4>UK</h4>
						<figure class="icons">
							<canvas id="cloudy" width="58" height="58"></canvas>
						</figure>
						<script>
							var icons = new Skycons({ "color": "#fff" }),
								list = [
									"clear-night", "cloudy",
									"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
									"fog"
								],
								i;

							for (i = list.length; i--;)
								icons.set(list[i], list[i]);

							icons.play();
						</script>
						<h3>6c</h3>
					</div>
					<div class="col-md-4 cloudy1">
						<h4>USA</h4>
						<figure class="icons">
							<canvas id="snow" width="58" height="58">
							</canvas>
						</figure>
						<script>
							var icons = new Skycons({ "color": "#fff" }),
								list = [
									"clear-night", "clear-day",
									"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
									"fog"
								],
								i;

							for (i = list.length; i--;)
								icons.set(list[i], list[i]);

							icons.play();
						</script>
						<h3>10c</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 climate-grids">
			<div class="climate-grid2">
				<span class="shoppy-rate"><h4>$180</h4></span>
				<ul>
					<li> <i class="fa fa-credit-card"> </i> </li>
					<li> <i class="fa fa-usd"> </i> </li>
				</ul>
			</div>
			<div class="shoppy">
				<h3>Those Who Hate Shopping?</h3>
			</div>
		</div>
		<div class="col-md-4 climate-grids">
			<div class="climate-grid3">
				<div class="popular-brand">
					<div class="col-md-6 popular-bran-left">
						<h3>Popular</h3>
						<h4>Brand of this month</h4>
						<p> Duis aute irure  in reprehenderit.</p>
					</div>
					<div class="col-md-6 popular-bran-right">
						<h3>Polo</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="popular-follow">
					<div class="col-md-6 popular-follo-left">
						<p>Lorem ipsum dolor sit amet, adipiscing elit.</p>
					</div>
					<div class="col-md-6 popular-follo-right">
						<h4>Follower</h4>
						<h5>2892</h5>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div> *@
	<!--climate end here-->
</div>