<div class="profile_details">
	<ul>
		<li class="dropdown profile_details_drop">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<div class="profile_img">
					
					@if (@ViewBag.GetLoggedInImageId is not null)
					{
						<span class="prfil-img"><img src="~/images/@ViewBag.GetLoggedInImage" class="profile-rounded-circle" alt="profile"> </span>
					}
					else
					{
						<span class="prfil-img"><img src="~/icons/@ViewBag.GetLoggedInImage" class="profile-rounded-circle" alt="profile"> </span>
					}

					<div class="user-name">
						<p>@ViewBag.UserName</p>
						<span>@ViewBag.GetLoggedInRoleName</span>
					</div>
					<i class="fa fa-angle-down lnr"></i>
					<i class="fa fa-angle-up lnr"></i>
					<div class="clearfix"></div>
				</div>
			</a>
			<ul class="dropdown-menu drp-mnu">
				<li> <a asp-area="Teacher" asp-controller="Profile" asp-action="Update"><i class="fa fa-cog"></i> Profil</a> </li>
				<li> <a asp-area="" asp-controller="Login" asp-action="LogOut"><i class="fa fa-sign-out"></i> Çıkış</a> </li>
			</ul>
		</li>
	</ul>
</div>