@model AddressDto

<section class="w3l-call-to-action-6">
    <div class="container py-md-5 py-sm-4 py-5">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="left-content-call">
                <h3 class="title-big">ÇOCUĞUNUZU KAYIT ETMEK İÇİN ARAYIN</h3>
                <p class="text-white mt-1">Değişime bugün başlayın!</p>
            </div>
            <div class="right-content-call mt-lg-0 mt-4">
                <ul class="buttons">
                    <li class="phone-sec me-lg-4">
                        <i class="fas fa-phone-volume"></i>
                        <a class="call-style-w3" href="tel:+90 @Model.PhoneNumber">+90 @Model.PhoneNumber</a>
                    </li>
                    @*  <li>
                    <a href="contact.html" class="btn btn-style btn-style-2 mt-lg-0 mt-3">Join for free</a>
                    </li> *@
                </ul>
            </div>
        </div>
    </div>
</section>