<section class="w3-stats pt-4 pb-3" id="stats">
    <div class="container pb-md-5 pb-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">İstatiklerimiz</p>
            <h3 class="title-style">Sizlerle Paylaşmaktan Gurur Duyuyoruz</h3>
        </div>
        <div class="row text-center pt-4">
            <div class="col-md-3 col-6">
                <div class="counter">
                    <img src="~/EduSchool/assets/images/icon-1.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-sm-1" data-to="36076" data-speed="1500">125</div>
                    <p class="count-text">Kayıtlı Öğrenciler</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="counter">
                    <img src="~/icons/teachers.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="786" data-speed="1500">20</div>
                    <p class="count-text">Uzman Öğretmenler</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-5">
                <div class="counter">
                    <img src="~/EduSchool/assets/images/icon-3.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="3630" data-speed="1500">60</div>
                    <p class="count-text">Toplam Dersler</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-5">
                <div class="counter">
                    <img src="~/EduSchool/assets/images/icon-4.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="6300" data-speed="1500">50</div>
                    <p class="count-text">Kazanılan Ödüller</p>
                </div>
            </div>
        </div>
    </div>
</section>