@model UserAddDto

@{
    ViewData["Title"] = "Kullanıcı Ekleme";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Kullanıcılar</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Admin" asp-controller="User" asp-action="Index">Kullanıcı Yönetimi</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Kullanıcı Ekleme</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="col-md-12">
                    <div class="card mb-4">
                        <form asp-controller="User" asp-action="Add" method="post" enctype="multipart/form-data">
                            <div class="mt-4" asp-validation-summary="ModelOnly"></div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label asp-for="Name" class="form-label">İsim</label>
                                    <input asp-for="Name" type="text"
                                           class="form-control mb-3"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen kullanıcı ismini giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Surname" class="form-label">Soyisim</label>
                                    <input asp-for="Surname" type="text"
                                           class="form-control mb-3"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen kullanıcı soyismini giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email" class="form-label">E-Mail</label>
                                    <input asp-for="Email" type="email"
                                           class="form-control mb-3"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen kullanıcı e-mailini giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
                                    <input asp-for="PhoneNumber" type="tel" pattern="[(][0-9]{3}[)] [0-9]{3} [0-9]{4}"
                                           class="form-control mb-1"
                                           id="defaultFormControlInput"
                                           placeholder="(123) 456 7890"
                                           aria-describedby="defaultFormControlHelp" />
                                    <small class="text-muted">Format: (123) 456 7890</small>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
                                    <input asp-for="UserName" type="text"
                                           class="form-control mb-3"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen kullanıcı adını giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xl-11 col-lg-10 col-md-9 col-sm-9 ">
                                            <label asp-for="RoleId" class="form-label">Kullanıcının Rolü</label>
                                        </div>
                                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 ">
                                            <a class="btn link-primary mb-2" style="color:dodgerblue;" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                                @* data- ile baslayan kisimlara bs eklersek bootstrapten gelecegini anlar ve projedeki digerleriyle cakismaz *@
                                                Rol Ekle <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <select asp-for="RoleId" class="form-control mb-3" asp-items="@(new SelectList(Model.Roles,"Id","Name"))"></select>

                                </div>

                                <div class="form-group">
                                    <label asp-for="Password" class="form-label">Parola</label>
                                    <input asp-for="Password" type="password"
                                           class="form-control mb-3"
                                           id="defaultFormControlInput"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="defaultFormControlHelp" />  @* &#xb7; => parola inputunda silik bir sekilde noktalar gozukturmek icin *@
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Kullanıcıyı Oluştur</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Rol Ekleme</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="d-block form-label">Rol İsmi</label>
                        <input class="form-control" type="text" id="roleName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" data-keyboard="false" class="btn btn-primary" id="btnSave">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* AJAX - Bootstrap modal ile rol ekleme islemi *@

    <script src="~/js/roleAdd.js"></script>

    <script>
        var app = app || [];
        app.Urls = app.Urls || [];

        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.roleAddUrl = "@(Url.Action("AddWithAjax", "Role"))";
        app.Urls.userAddUrl = "@(Url.Action("Add", "User"))";
    </script>
}
