@model AnnouncementUpdateDto

@{
    ViewData["Title"] = "Duyuru Güncelle";
}

<div class="inner-block wrapper wrapper-content  animated fadeInRight" style="margin-bottom: 177px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="text-nowrap m-5">
                    <nav aria-label="breadcrumb" style="margin-bottom:4.5em;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page" style="font-size:25px;">Duyuru Güncelle @Model.Title</li>
                        </ol>
                    </nav>

                    <a class="btn btn-warning mb-3" asp-area="Teacher" asp-controller="Announcement" asp-action="StudentAnnouncements" style="margin-bottom:1.7em;">
                        <i class="fa fa-arrow-left"></i> Geri Dön
                    </a>

                    <form asp-area="Teacher" asp-controller="Announcement" asp-action="Update" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="card-body">

                            <input type="hidden" asp-for="Id" />

                            <div class="form-group">
                                <input asp-for="RoleId" type="hidden"
                                       class="form-control mb-1"
                                       id="defaultFormControlInput"
                                       value="@ViewBag.Rol"
                                       disabled=""
                                       placeholder="Lütfen duyuru başlığını giriniz."
                                       aria-describedby="defaultFormControlHelp" />
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Title" class="form-label">Başlık</label>
                                <input asp-for="Title" type="text"
                                       class="form-control mb-1"
                                       id="defaultFormControlInput"
                                       placeholder="Lütfen duyuru başlığını giriniz."
                                       aria-describedby="defaultFormControlHelp" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Content" class="form-label">İçerik</label>
                                <textarea asp-for="Content" id="textEdit" type="text"
                                          class="form-control mb-1"
                                          id="defaultFormControlInput"
                                          placeholder="Duyuru içeriği..."
                                          aria-describedby="defaultFormControlHelp" style="min-height:300px"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Duyuru Güncelle</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
