<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <i class="fas fa-graduation-cap"></i>Atlas Koleji
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Report" asp-action="Index">Haberler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">İletişim</a>
                    </li>
                </ul>
                <!-- search-right -->
                <div class="header-search position-relative ml-2">
                    <div class="search-right mx-lg-2">
                        <a href="#search" class="btn search-btn p-0" title="search">
                            <i class="fas fa-search"></i>
                        </a>
                        <!-- search popup -->
                        <div id="search" class="pop-overlay">
                            <div class="popup">
                                <form action="#search" method="GET" class="search-box">
                                    <input type="search" placeholder="Enter Keyword..." name="search"
                                           required="required" autofocus="">
                                    <button type="submit" class="btn">
                                        <span class="fas fa-search"
                                              aria-hidden="true"></span>
                                    </button>
                                </form>
                            </div>
                            <a class="close" href="#close">×</a>
                        </div>
                        <!-- //search popup -->
                    </div>
                </div>
                <!--//search-right-->


            </div>

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>

            <div class="btn-group" style="margin-left:12px;">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton" aria-expanded="false"><i class="fa-solid fa-user" aria-hidden="true" style="font-size:1.2em"></i><span class="caret">▾</span></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item nav-link" href="#">● Giriş Yap</a></li>
                    <li><a class="dropdown-item nav-link" href="#">● Kayıt Ol</a></li>
                </ul>
            </div>

            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>