

@{
    ViewData["Title"] = "Ana Sayfa";
}

<!-- banner section -->
<section id="home" class="w3l-banner py-5">
    <div class="banner-content">
        <div class="container py-4">
            <div class="row align-items-center pt-sm-5 pt-4">
                <div class="col-md-6">
                    <h3 class="mb-lg-4 mb-3">
                        <span class="d-block"> Çocuklarınız </span> en iyi eğitimi <span class="d-block"> almayı hak ediyor</span>
                    </h3>
                    <p class="banner-sub">Aktif Öğrenme, Uzman Öğretmenler ve Güvenli Ortam</p>
                    <div class="d-flex align-items-center buttons-banner">
                        <a asp-controller="Contact" asp-action="Index" class="btn btn-style mt-lg-5 mt-4">Hemen İletişime Geçin</a>
                    </div>
                </div>
                <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0 mt-5">
                    <div class="sub-banner-image mx-auto">
                        <img src="~/EduSchool/assets/images/banner.png" class="img-fluid position-relative" alt=" ">
                    </div>
                    <div class="banner-style-1 position-absolute">
                        <div class="banner-style-2 position-relative">
                            <h4>Okula dönüş</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->

<!-- home 4grids block -->
<section class="services-w3l-block py-5" id="features">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">EN İYİ ÖZELLİKLER</p>
            <h3 class="title-style">Atlas Koleji ile Hedeflerinize Ulaşın</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="icon-box icon-box-clr-1">
                    <div class="icon"><i class="fas fa-user-friends"></i></div>
                    <h4 class="title"><a href="#about">Uzman Öğretmenler</a></h4>
                    <p>Her zaman ve her yerde bir araya gelerek etkili bir şekilde öğretmenden yararlanabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-md-0 mt-4">
                <div class="icon-box icon-box-clr-2">
                    <div class="icon"><i class="fas fa-book-reader"></i></div>
                    <h4 class="title"><a href="#about">Kaliteli Eğitim</a></h4>
                    <p>Sık sık yapılan deneme sınavlarıyla başarıyı yakalama fırsatı edinebilir ve hayallerinize kavuşabilirsiniz.</p>
                </div>
            </div>     
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-4">
                    <div class="icon"><i class="fas fa-university"></i></div>
                    <h4 class="title"><a href="#about">En İyi Etütler</a></h4>
                    <p>Etütler ile ders konularını tekrar edebilme ve soru çözümleriyle konuyu pekiştirme imkanına sahip olabilirsiniz.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-3">
                    <div class="icon"><i class="fas fa-user-graduate"></i></div>
                    <h4 class="title"><a href="#about">Yaşam Boyu Destek</a></h4>
                    <p>Mezun olsanız dahi Atlas Koleji her zaman yanınızdadır.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home 4grids block -->
<!-- home image with content block -->
<section class="w3l-servicesblock pt-lg-5 pt-4 pb-5 mb-lg-5" id="about">
    <div class="container pb-md-5 pb-4">
        <div class="row pb-xl-5 align-items-center">
            <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                <div class="position-relative">
                    <img src="~/EduSchool/assets/images/img1.jpg" alt="" class="img-fluid radius-image">
                </div>
              @*   <div class="imginfo__box">
                    <h6 class="imginfo__title">Get a Appointment Today!</h6>
                    <p>Nemo enim ipsam oluptatem quia oluptas<br> sit aspernatur aut odit aut fugit. </p>
                    <a href="tel:http://1(800)7654321"><i class="fas fa-phone-alt"></i> 1-800-654-3210</a>
                </div> *@
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                <p class="text-uppercase" style="text-align:center;">MİSYONUMUZ & VİZYONUMUZ</p>
                <h3 class="title-style" style="text-align:center;">Çocuğunuz İçin En İyi Seçim Biziz</h3>
                <p class="mt-4">
                   Atlas Koleji olarak 2009 yılında başladığımız yolculuğumuzda, lise öğrencilerimizin başarıya ulaşmasını hedefliyor ve aynı zamanda
                   hayalindeki üniversiteleri kazanmaları için elimizden geleni yapıyoruz. Okulda yapılan eğitimin yanı sıra
                   web sitemiz sayesinde konuları pekiştirebilme ve birebir öğretmenle iletişime geçme imkanına sahip olabilecekler. Bu güne kadar mezunlarımızın çoğuna 
                   dünyaca ünlü üniversitelerimizin en güzel bölümlerini kazanabilmelerine vesile olduk. Hemen siz de iletişime geçin ve uygun fiyatlarla kolejimize
                   kaydolarak hayallerinize ulaşın.
                </p>
               @*  <ul class="mt-4 list-style-lis pt-lg-1">
                    <li><i class="fas fa-check-circle"></i>Özel Eğitim</li>
                    <li><i class="fas fa-check-circle"></i>Birbirinden Farklı Soru Çözümleri</li>
                    <li><i class="fas fa-check-circle"></i>Geleneksel Deneme Sınavları</li>
                </ul> *@
                <a asp-controller="Contact" asp-action="Index" class="btn btn-style mt-5">İletişim</a>
            </div>
        </div>
    </div>
</section>
<!-- //home image with content block -->

<!-- why choose block -->
<section class="w3l-service-1 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Why Choose Us</p>
            <h3 class="title-style">Tools For Teachers And Learners</h3>
        </div>
        <div class="row content23-col-2 text-center">
            <div class="col-md-6">
                <div class="content23-grid content23-grid1">
                    <h4><a href="about.html">Expert Teachers</a></h4>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
                <div class="content23-grid content23-grid2">
                    <h4><a href="about.html">Safe Environment</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //why choose block -->
<!-- stats block -->
<section class="w3-stats pt-4 pb-5" id="stats">
    <div class="container pb-md-5 pb-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">İstatiklerimiz</p>
            <h3 class="title-style">Sizlerle Paylaşmaktan Gurur Duyuyoruz</h3>
        </div>
        <div class="row text-center pt-4">
            <div class="col-md-3 col-6">
                <div class="counter">
                    <img src="~/EduSchool/assets/images/icon-1.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-sm-1" data-to="36076" data-speed="1500"></div>
                    <p class="count-text">Kayıtlı Öğrenciler</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="counter">
                    <img src="~/icons/teachers.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="786" data-speed="1500"></div>
                    <p class="count-text">Uzman Öğretmenler</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-5">
                <div class="counter">
                    <img src="~/EduSchool/assets/images/icon-3.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="3630" data-speed="1500"></div>
                    <p class="count-text">Toplam Dersler</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-5">
                <div class="counter">
                    <img src="~/EduSchool/assets/images/icon-4.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="6300" data-speed="1500"></div>
                    <p class="count-text">Kazanılan Ödüller</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats block -->
<!-- testimonials block -->
@* <section class="w3l-index4 py-5" id="testimonials">
    <div class="container py-md-5 py-4">
        <div class="content-slider text-center">
            <div class="clients-slider">
                <div class="mask">
                    <ul>
                        <li class="anim1">
                            <img src="~/EduSchool/assets/images/testi1.jpg" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse
                                    cillum dolore eu. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </q>
                            </blockquote>
                            <div class="source">- Mario Spe</div>
                        </li>

                        <li class="anim2">
                            <img src="~/EduSchool/assets/images/testi2.jpg" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                    illo
                                    inventore.
                                </q>
                            </blockquote>
                            <div class="source">- Petey Cru</div>
                        </li>
                        <li class="anim3">
                            <img src="~/EduSchool/assets/images/testi3.jpg" class="img-fluid rounded-circle "
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation.
                                </q>
                            </blockquote>
                            <div class="source">- Anna Sth</div>
                        </li>
                        <li class="anim4">
                            <img src="~/EduSchool/assets/images/testi1.jpg" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse
                                    cillum dolore eu. Excepteur sint occaecat cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </q>
                            </blockquote>
                            <div class="source">- Gail For</div>
                        </li>
                        <li class="anim5">
                            <img src="~/EduSchool/assets/images/testi2.jpg" class="img-fluid rounded-circle"
                                 alt="client image" />
                            <blockquote class="quote">
                                <q>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation.
                                </q>
                            </blockquote>
                            <div class="source">- Boye Fra</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> *@
<!-- //testimonials block -->
<!-- blog block -->
<div class="w3l-blog-block-5 py-5" id="blog">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Haberlerimiz</p>
            <h3 class="title-style">Son Yayınlanan Haberler</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="~/EduSchool/assets/images/blog2.jpg" alt="" /></a>
                        <div class="blog-info">
                            <h4><a href="#blog">Education Programs...</a></h4>
                            <p>
                                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sunt inc
                                officia deserunt.
                            </p>
                            <div class="d-flex align-items-center justify-content-between mt-4">
                                <a class="d-flex align-items-center" href="#blog" title="23k followers">
                                    <img class="img-fluid" src="~/EduSchool/assets/images/testi2.jpg" alt="admin"
                                         style="max-width:40px"> <span class="small ms-2">Eetey Cruis</span>
                                </a>
                                <p class="date-text"><i class="far fa-calendar-alt me-1"></i>Oct 06, 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="~/EduSchool/assets/images/blog1.jpg" alt="" /></a>
                        <div class="blog-info">
                            <h4><a href="#blog">Games Programs...</a></h4>
                            <p>
                                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sunt inc
                                officia deserunt.
                            </p>
                            <div class="d-flex align-items-center justify-content-between mt-4">
                                <a class="d-flex align-items-center" href="#blog" title="23k followers">
                                    <img class="img-fluid" src="~/EduSchool/assets/images/testi1.jpg" alt="admin"
                                         style="max-width:40px"> <span class="small ms-2">Molive Joe</span>
                                </a>
                                <p class="date-text"><i class="far fa-calendar-alt me-1"></i>Oct 10, 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="#blog"><img src="~/EduSchool/assets/images/blog3.jpg" alt="" /></a>
                        <div class="blog-info">
                            <h4><a href="#blog">Articles Programs...</a></h4>
                            <p>
                                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sunt inc
                                officia deserunt.
                            </p>
                            <div class="d-flex align-items-center justify-content-between mt-4">
                                <a class="d-flex align-items-center" href="#blog" title="23k followers">
                                    <img class="img-fluid" src="~/EduSchool/assets/images/testi3.jpg" alt="admin"
                                         style="max-width:40px"> <span class="small ms-2">
                                        Turne Leo
                                    </span>
                                </a>
                                <p class="date-text"><i class="far fa-calendar-alt me-1"></i>Oct 12, 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //blog block -->
<!-- call block -->
<section class="w3l-call-to-action-6">
    <div class="container py-md-5 py-sm-4 py-5">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="left-content-call">
                <h3 class="title-big">ÇOCUĞUNUZU KAYIT ETMEK İÇİN ARAYIN</h3>
                <p class="text-white mt-1">Değişime bugün başlayın!</p>
            </div>
            <div class="right-content-call mt-lg-0 mt-4">
                <ul class="buttons">
                    <li class="phone-sec me-lg-4">
                        <i class="fas fa-phone-volume"></i>
                        <a class="call-style-w3" href="tel:+1(23) 456 789 0000">+1(23) 456 789 0000</a>
                    </li>
                   @*  <li>
                        <a href="contact.html" class="btn btn-style btn-style-2 mt-lg-0 mt-3">Join for free</a>
                    </li> *@
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //call block -->