@model List<ReportDto>

<div class="col-md-6 chit-chat-layer1-left">
    <div class="work-progres">
        <div class="chit-chat-heading">
            Okulumuzdan Haberler
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>İçerik</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model)
                    {
                        <tr>
                            <td>@report.Title</td>
                            <td>@Regex.Replace(HttpUtility.HtmlDecode(report.Content), @"<[^>]*>|&nbsp;", "").Substring(0, 15)...</td>
                            <td><span class="label label-info">@(((DateTime)report.CreatedDate).ToString("dd-MM-yyyy"))</span></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
