@{
	ViewData["Title"] = "Ana sayfa";
}

<div class="inner-block">
	<!--market updates updates-->
	@await Component.InvokeAsync("DashboardStudentStatisticsFirst")
	<!--market updates end here-->
	<!--mainpage chit-chating-->
	<div class="chit-chat-layer1">

		@await Component.InvokeAsync("DashboardStudentLastSixReport")

		@await Component.InvokeAsync("DashboardStudentUserInfo")

		<div class="clearfix"> </div>
	</div>
	<!--main page chit chating end here-->
	<!--main page chart start here-->
	<div class="main-page-charts">
		<div class="main-page-chart-layer1">

			@await Component.InvokeAsync("DashboardStudentMap")

			<div class="clearfix"> </div>
		</div>
	</div>
</div>