@model AddressDto

<div class="col-lg-4 col-md-6 footer-list-29">
    <h6 class="footer-title-29">İletişim Bilgisi </h6>
    <p class="mb-2 pe-xl-5">
        Adres : @Model.AddressInfo.
    </p>
    <p class="mb-2">Telefon Numarası : <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></p>
    <p class="mb-2">E-Mail : <a href="mailto:@Model.EMail">@Model.EMail</a></p>
    <p class="mb-2">Destek : <a href="mailto:@Model.SupportEMail">@Model.SupportEMail</a></p>
</div>