

<div class="col-md-6 chart-layer1-right">
    <div class="user-marorm" style="overflow:auto;">
        <div class="malorum-top-bg">
        </div>
        <div class="malorm-bottom" style="height:12.6em;">
            <span>
                @if (@ViewBag.GetLoggedInImageId is not null)
                {
                    <img src="~/images/@ViewBag.GetLoggedInImage" class="malorum-pro" alt="profile">
                }
                else
                {
                    <img src="~/icons/@ViewBag.GetLoggedInImage" class="malorum-pro" alt="profile">
                }
            </span>
            <h4 id="subTitle">@ViewBag.SchoolName ~ Öğrenci Paneli</h4>
            <div id="centered">
                <h2 id="nameSurname">@ViewBag.NameSurname</h2>
                <p>@Html.Raw(ViewBag.UserAbout)</p>
            </div>
        </div>
    </div>
</div>