<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m" style="height:9.6em; overflow:auto;">
                <h1 class="m-xs">Atlas Koleji</h1>

                <h3 class="font-bold no-margins">
                    Admin Paneline Hoş geldiniz.
                </h3>
                <small>Bu panelde mesajları kontrol edebilir, sayfaya güncel haberler yükleyebilir ve daha birçok işlemi yönetebilirsiniz.</small>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m" style="height:9.6em; overflow:auto;">
                <h1 class="m-xs">Son Haber</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.LastReport
                </h3>
                <small><a asp-area="Admin" asp-controller="Report" asp-action="Index"> Tüm Haberler </a></small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 yellow-bg" style="height:9.6em; overflow:auto;">
            <div class="p-xxs" >
                <h3 class="m-xs">Toplam Öğrenci Sayısı</h3>
                <h2 class="font-bold text-center ">
                    @ViewBag.TotalStudentCount
                    <br />
                </h2>
                <small>&nbsp; &nbsp; &nbsp; &nbsp;</small>
            </div>
        </div>
    </div>
</div>