<section class="services-w3l-block py-5" id="features">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">EN İYİ ÖZELLİKLER</p>
            <h3 class="title-style">Atlas Koleji ile Hedeflerinize Ulaşın</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="icon-box icon-box-clr-1">
                    <div class="icon"><i class="fas fa-user-friends"></i></div>
                    <h4 class="title"><a href="#about">Uzman Öğretmenler</a></h4>
                    <p>
                        Her zaman ve her yerde bir araya gelerek etkili bir şekilde öğretmenden yararlanabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-md-0 mt-4">
                <div class="icon-box icon-box-clr-2">
                    <div class="icon"><i class="fas fa-book-reader"></i></div>
                    <h4 class="title"><a href="#about">Kaliteli Eğitim</a></h4>
                    <p>Sık sık yapılan deneme sınavlarıyla başarıyı yakalama fırsatı edinebilir ve hayallerinize kavuşabilirsiniz.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-4">
                    <div class="icon"><i class="fas fa-university"></i></div>
                    <h4 class="title"><a href="#about">En İyi Etütler</a></h4>
                    <p>Etütler ile ders konularını tekrar edebilme ve soru çözümleriyle konuyu pekiştirme imkanına sahip olabilirsiniz.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-3">
                    <div class="icon"><i class="fas fa-user-graduate"></i></div>
                    <h4 class="title"><a href="#about">Yaşam Boyu Destek</a></h4>
                    <p>Mezun olsanız dahi Atlas Koleji her zaman yanınızdadır.</p>
                </div>
            </div>
        </div>
    </div>
</section>