@model AboutDto

<section class="w3l-servicesblock pt-lg-5 pt-4 pb-5" id="about">
    <div class="container pb-md-5 pb-4">
        <div class="row pb-xl-5 align-items-center">
            <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                <div class="position-relative">
                    <img src="~/images/@Model.Image.FileName" style="height:30em; width:40em;" alt="@Model.Title" class="img-fluid radius-image">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                <p class="text-uppercase" style="text-align:center;">MİSYONUMUZ & VİZYONUMUZ</p>
                <h3 class="title-style" style="text-align:center;">@Model.Title</h3>
                <p class="mt-4">
                    @Model.Content
                </p>
                <a asp-controller="Contact" asp-action="Index" class="btn btn-style mt-5">İletişim</a>
            </div>
        </div>
    </div>
</section>