@model LessonAddDto

@{
    ViewData["Title"] = "Ders Ekleme";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dersler</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Admin" asp-controller="Lesson" asp-action="Index">Dersler</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Ders Ekleme</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="col-md-12">
                    <div class="card mb-4">
                        <form asp-controller="Lesson" asp-action="Add" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label asp-for="LessonCode" class="form-label">Ders Kodu</label>
                                    <input asp-for="LessonCode" type="text"
                                           class="form-control mb-1"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen ders kodunu giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="LessonCode" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LessonName" class="form-label">Ders Adı</label>
                                    <input asp-for="LessonName" type="text"
                                           class="form-control mb-1"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen ders adını giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="LessonName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LessonCredit" class="form-label">Haftalık Ders Saati</label>
                                    <input asp-for="LessonCredit" type="text"
                                           class="form-control mb-1"
                                           id="defaultFormControlInput"
                                           placeholder="Lütfen haftalık ders saatini giriniz."
                                           aria-describedby="defaultFormControlHelp" />
                                    <span asp-validation-for="LessonCredit" class="text-danger"></span>
                                </div>

                                <div class="form-group">

                                    @*  Sinif listesini dropdown icerisinde listeliyoruz *@
                                    <label asp-for="GradeId" class="form-label">Sınıf Bilgisi <span>*</span></label>
                                    <select id="gradeList" class="form-control mb-3" asp-for="GradeId" asp-items="@(new SelectList(Model.Grades,"Id","Name"))"></select>
                                    <span asp-validation-for="GradeId" class="text-danger"></span>

                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>