<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29">

                @await Component.InvokeAsync("FooterContact")

                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29">Hızlı Linkler</h6>
                        <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                        <li><a href="#about">Hakkımızda</a></li>
                        <li><a asp-controller="News" asp-action="Index">Haberler</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
                        <li><a href="#">Kayıt Ol</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">
                    @*   <ul>
                    <h6 class="footer-title-29">Explore</h6>
                    <li><a href="#blog">Blog Posts</a></li>
                    <li><a href="#privacy">Privacy policy</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#license">License & uses</a></li>
                    <li><a href="#tutorials">Tutorials</a></li>
                    </ul> *@

                    <h6 class="footer-title-29">Bizi Takip Edin</h6>

                    <ul style="text-align:center;">
                        <li><a href="https://busraozdemir.netlify.app/" target="_blank" title="WebSite"><i class="fab"><img src="~/icons/web.png" /></i></a></li>
                        <li><a href="https://www.instagram.com/busra.0zdemir/  " target="_blank" title="İnstagram"><i class="fab fa-instagram fa-2x"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/busra0zdemir/" target="_blank" title="Linkedin"><i class="fab fa-linkedin fa-2x"></i></a></li>
                        <li><a href="https://github.com/busraozdemir0" target="_blank" title="GitHub"><i class="fab fa-github fa-2x"></i></a></li>
                    </ul>
                </div>



                @await Html.PartialAsync("~/Views/NewsLetter/NewsLetterMail.cshtml")

            </div>
            <!-- copyright -->
            <p class="copy-footer-29 text-center pt-lg-2 mt-5 pb-2">
                © @DateTime.Now.Year Atlas Koleji. Tüm Hakları Saklıdır. Design
                by <a href="https://w3layouts.com/" target="_blank">W3Layouts</a>
            </p>
            <!-- //copyright -->
        </div>
    </div>
</footer>