<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <i class="fas fa-graduation-cap"></i>Atlas Koleji
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarScroll">

                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <!--//search-right-->

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Report" asp-action="Index">Haberler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" id="dropdownMenuButton" aria-expanded="false">
                                <i class="fas fa-search" aria-hidden="true" style="font-size:1.0em"></i><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <form asp-controller="Home" asp-action="Search" method="GET" class="dropdown-item search-box">
                                        <input class="dropdown-item" style="width:260px;" type="search" placeholder="Aranacak ifade..." name="keyword"
                                               required="required" autofocus="">
                                        <button type="submit" class="btn">
                                            <span class="fas fa-search"
                                                  aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="btn-group">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton" aria-expanded="false">
                                <i class="fa-solid fa-user" aria-hidden="true" style="font-size:1.1em; margin-bottom:8px;"></i><span class="caret">▾</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @if (User.Identity.IsAuthenticated) @* Eger kullanici giris yapmissa kullanici adini gosterecek. *@
                                {
                                    @await Component.InvokeAsync("ShowHomeName")

                                    <li>
                                        <a class="dropdown-item nav-link" asp-controller="Login" asp-action="LogOut" style="font-size:17px;">&nbsp; &nbsp; <i class="fa-solid fa-angle-right"></i> Çıkış Yap</a>
                                        <br />
                                    </li>
                                }
                                else
                                {
                                    <li class="mb-4">
                                        <br />
                                        <a class="dropdown-item nav-link" asp-controller="Login" asp-action="Index" style="font-size:17px;">&nbsp; &nbsp; <i class="fa-solid fa-angle-right"></i> Giriş Yap</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->





        </nav>
    </div>
</header>