@{
    ViewData["Title"] = "Dashboard";
}

<div class="wrapper wrapper-content animated fadeInRight">

    @await Component.InvokeAsync("DashboardStatistics1")


    @await Component.InvokeAsync("DashboardStatistics2")


    @await Component.InvokeAsync("DashboardStatistics3")


    @await Component.InvokeAsync("DashboardStatistics4")

   
    <div class="row m-t-lg">

        @await Component.InvokeAsync("DashboardMapLocation")

    </div>

</div>